@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: auto; /* Menyembunyikan overflow agar partikel tidak terlihat di luar halaman */
}

.main {
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main h4 {
    font-size: 32px;
    color: #fff;
    font-weight: 600;
}

.main h4 span {
    color: #ffb742;
    text-decoration: underline;
}

.main p.title {
    font-size: 44px;
    font-weight: 600;
    color: #fff;
    margin-top: 8px;
}

.main p.subtitle {
    font-size: 16px;
    color: #ccc;
    margin-top: 20px;
}